.btn {
    display: inline-block;
    text-decoration: none;
    background-color: $dark-violet;
    color: white;
    width: auto;
    text-align: center;
    padding: 5px 18px;
    font-weight: bolder;
    border-radius: 20px;
}
