.holder {
    display: none;

    @media (min-width: 576px) {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        overflow: hidden;
        width: 450px;
        margin: 20px auto;
    }

    > .item {
        background-color: $yellow;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        padding: 10px;

        &:nth-child(1) {
            background-color: #f6634d;
            border-top-left-radius: 20px;
            border-top: 3px solid black;
            border-left: 3px solid black;
            width: 50%;
            flex-grow: 2;
        }
        &:nth-child(2) {
            background-color: #4983b2;
            border-bottom: 3px solid black;
            width: (100%/3);
            order: 4;
            flex-grow: 1;
        }
        &:nth-child(3) {
            background-color: #663b97;
            border-bottom: 3px solid black;
            border-left: 3px solid black;
            width: (100%/3);
            order: 3;
            flex-grow: 1;
        }
        &:nth-child(4) {
            background-color: #377f12;
            border-bottom: 3px solid black;
            border-right: 3px solid black;
            width: (100%/3);
            order: 5;
            flex-grow: 1;
        }
        &:nth-child(5) {
            background-color: #fca429;
            border-top-right-radius: 20px;
            border-top: 3px solid black;
            border-right: 3px solid black;
            width: 50%;
            flex-grow: 2;
            order: 2;
        }
    }
}
